<div class="detailed_program">
<div class="days_buttons">
<a class="button day1">DAY 1</a> 
<a class="button day2">DAY 2</a>
<a class="button exhibitions">Exhibitions</a>
</div>



<div class="days day1">
<div class="day-title"><span class="day">DAY 1</span> <span class="date">— AUG. 20, 2022</span></div>
{{ partial "session" (dict "outer" . 
	"type" "Coffee and registration" 
	"time" "09:00 - 10:00" 
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Opening session" 
	"time" "10:00 - 10:30" 
	"description" "Opening with MCs activist <strong>Fariborz Pooya</strong> and YouTuber <strong>Veedu Vidz</strong> Welcome speech on behalf of Volkshochschule Köln by Homaira Mansury Cologne Deputy Mayor Andreas Wolter.<br><span class=\"cb\">Beyond the Barren Land of Dogma:</span> President of Freethought Lebanon <strong>Sami Abdallah</strong> <br><span class=\"cb\">Our Contribution will be Etched in the History of Dissent:</span> : Spokesperson of the Council of Ex-Muslims of Britain <strong>Maryam Namazie</strong><br><span class=\"cb\">Find Our Way to Freedom</span> by singer/songwriter  <strong>Shelley Segal</strong>"

	"panelists" (slice "Faribroz Pooya" "Veedu Vidz" "Sami Abdallah" "Maryam Namazie" "Shelley Segal" )
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Plenary Panel" 
	"time" "10:30 - 11:45" 
	"title" "Blasphemy, Islamophobia and Free Expression"
	"description" "Why is the right to free expression and conscience important for dissent?<br>How is blasphemy linked to freethought? Are there limits to free expression?" 
	"opening" "Ibn Warraq" 
	"chair" "Annie Laurie Gaylor" 
	"panelists" (slice "Ibn Warraq" "Annie Laurie Gaylor" "Ali Rizvi" "Halima Salat" "Sami Abdallah" "Susana McIntyre")
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Music" 
	"time" "11:45 - 11:50" 
	"title" "Music is Haram"
	"description" "Live music performance by <strong>Veedu Vidz</strong>" 
	"smallphotos" (slice "Veedu Vidz")
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Plenary Panel" 
	"time" "11:50 - 13:05" 
	"title" "Atheists and the Human Right to Protection"
	"description" "What forms of persecution and discrimination do atheists and ex-Muslims face?<br>Is their right to asylum respected? What is being and can be done to protect them?<br>How do we find common cause in the face of anti-immigration policies?" 
	"opening" "Yahya Ekhou" 
	"chair" "Yahya Ekhou" 
	"panelists" (slice "Yahya Ekhou" "Dan Barker" "Ana González" "Harris Sultan" "Lilith Khanum" "Nina Sankar")
	)}}
	
	
{{ partial "session" (dict "outer" . 
	"type" "Music" 
	"time" "11:45 - 11:50" 
	"title" "Dan Barker on Piano"
	"description" "Live piano performance by <strong>Dan Barker</strong>" 
	"smallphotos" (slice "Dan Barker")
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Lunch break" 
	"time" "13:15 - 14:40" 
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Workshop" 
	"time" "14:00 - 14:40" 
	"title" "Asylum and Apostasy Workshop"
	"by" "Ana González" 
	"description" "<span class=\"bc\">Asylum and Apostasy Workshop</span> by <strong>Ana González</strong>" 
	"description" "<span class=\"bc\">Asylum and Apostasy Workshop</span> by <strong>Ana González</strong>" 
	"smallphotos" (slice "Ana González")
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Plenary Panel" 
	"time" "14:45 - 16:00" 
	"title" "Hijab, Bodily Autonomy and Women’s Rights"
	"description" "What are contradictions between women’s rights and religions?<br> What is the purpose of the hijab and burqa?<br> How do women challenge these and attain bodily autonomy and rights? How do we address feminists who ally with the Religious-Right or Far-Right agendas?" 
	"opening" "Rana Ahmad" 
	"chair" "Lisa-Marie Taylor" 
	"panelists" (slice "Rana Ahmad" "Lisa-Marie Taylor" "Annie Laurie Gaylor" "Fauzia Ilyas" "Hazar Kahera Watts" "Houzan Mahmoud" "Sara Nabil")
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Visual Art" 
	"time" "16:00 - 16:10" 
	"title" "Bodies in War, My Hair is Free"
	"description" "Video installation by <strong>Sara Nabil</strong><br> Artist Sara Nabil’s performance exposes how the female body has increasingly become a venue for political ideologies, cultural conflicts and power struggles in Afghanistan, even more so since the Taliban re-took power last summer. Such a public staging of female physicality is taboo there. For Sara, art is an act of self-liberation. During the performance, she calls on the audience to donate their own hair as a sign of solidarity with the women of Afghanistan and other women who share the same fate." 
	"smallphotos" (slice "Sara Nabil")
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Campaign" 
	"time" "16:10 - 16:30" 
	"title" "Raise Your Hands for Apostates"
	"by" "Victoria Gugenheim"
	"description" "CEMB Resident Artist Victoria Gugenheim leads a group action in solidarity with apostates worldwide.  Participants will paint their hand (or get it painted) with a red A, and be a part of a group solidarity  action and photo. Can't show your face? Hold your hand out over your face to stay anonymous." 
	"smallphotos" (slice "Victoria Gugenheim")
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Coffee break" 
	"time" "16:30 - 17:15" 
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Plenary Panel" 
	"time" "17:15 - 18:30" 
	"title" "On Gods and Religious Morality"
	"description" "What do we mean by morality? Who decides what is morally ‘good’?<br> Can we be good without God and religion? Is any form of morality ‘superior’?<br> What are the biggest moral challenges?" 
	"opening" "Sohail Ahmed" 
	"chair" "Mimzy Vidz" 
	"panelists" (slice "Sohail Ahmed" "Mimzy Vidz" "Armin Navabi" "Cemal Knudsen Yucel" "Khadija Khan" "Nuriyah Khan" "Wissam Charafeddine")
	)}}

{{ partial "session" (dict "outer" . 
	"type" "Interview" 
	"time" "18:30 - 19:00" 
	"title" "Interview with Richard Dawkins"
	"smallphotos" (slice "Richard Dawkins")
	)}}
	
{{ partial "session" (dict "outer" . 
	"type" "Ceremony" 
	"time" "19:00 - 19:30" 
	"title" "Freethought Champions Awards"
	"description" "<span class='cb'>Awardees:</span> <span class='person'>Richard Dawkins, Sohail Arabi</span> and <span class='person'>Marieme Helie Lucas<span><br> <span class='cb'>Live music performance:</span> <span class='person'>Shelley Segal</span><br><span class='cb'>Award created by Sodabeh Gashtasebi.</span>"
	"smallphotos" (slice "Richard Dawkins" "Sohail Arabi" "Marieme Helie Lucas" "Shelley Segal")
	)}}
	

	
</div>
<div class="days day2">
</div>
<div class="days day3">
</div>
</div>