<div class="detailed_program">
<div class="days_buttons">
<a class="button day1" href="#day1">DAY 1</a> 
<a class="button day2" href="#day2">DAY 2</a>
<a class="button exhibitions" href="#exhibitions">Exhibitions</a>
</div>

{{ $sessioncounter := 0 }}

<div class="days" id="day1">
<div class="day-title"><span class="day">DAY 1</span> <span class="date">— AUG. 20, 2022</span></div>
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Coffee and registration" 
	"time" "09:00 - 10:00" 
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Opening session" 
	"time" "10:00 - 10:30" 
	"description" "<p>Opening with MCs activist <strong>Fariborz Pooya</strong> and YouTuber <strong>Veedu Vidz</strong></p><p>Welcome speech on behalf of Volkshochschule Köln by Homaira Mansury</p><p>A word by Cologne Deputy Mayor Andreas Wolter.</p><p><span class=\"cb\">Beyond the Barren Land of Dogma:</span> President of Freethought Lebanon <strong>Sami Abdallah</strong></p><p><span class=\"cb\">Our Contribution will be Etched in the History of Dissent:</span> Spokesperson of the Council of Ex-Muslims of Britain <strong>Maryam Namazie</strong></p><p><span class=\"cb\">Celebrating Dissent 2022 in solidarity with Salman Rushdie</span></p><p><span class=\"cb\">Find Our Way to Freedom</span> by singer/songwriter  <strong>Shelley Segal</strong></p>"
	"smallphotos" (slice "Faribroz Pooya" "Veedu Vidz" "Sami Abdallah" "Maryam Namazie" "Shelley Segal" )
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "10:30 - 11:42" 
	"title" "Blasphemy, Islamophobia and Free Expression"
	"description" "<p>Why is the right to free expression and conscience important for dissent?</p><p>How is blasphemy linked to freethought? Are there limits to free expression?</p>" 
	"opening" "Jimmy Bangash" 
	"chair" "Annie Laurie Gaylor" 
	"panelists" (slice "Jimmy Bangash" "Halima Salat" "Jimmy Bangash" "Sami Abdallah" "Susanna McIntyre")
	"smallphotos" (slice "Jimmy Bangash" "Annie Laurie Gaylor" "Halima Salat" "Jimmy Bangash" "Sami Abdallah" "Susanna McIntyre")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Performance Art" 
	"time" "10:42 - 11:45" 
	"title" "Can We Talk About This?"
	"description" "DV8 Physical Theater by Lloyd Newson"
	"largephotos" (slice "can we talk about this") 
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Music" 
	"time" "11:45 - 11:50" 
	"title" "Music is Haram"
	"description" "Live music performance by <strong>Veedu Vidz</strong>" 
	"smallphotos" (slice "Veedu Vidz")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "11:50 - 13:05" 
	"title" "Atheists and the Human Right to Protection"
	"description" "<p>What forms of persecution and discrimination do atheists and ex-Muslims face?</p><p>Is their right to asylum respected? What is being and can be done to protect them?</p><p>How do we find common cause in the face of anti-immigration policies?</p>" 
	"opening" "Yahya Ekhou" 
	"chair" "Dan Barker" 
	"panelists" (slice "Ana González" "Ahmedur Rashid Chowdhury" "Harris Sultan" "Lilith Raza" "Nina Sankari" "Yahya Ekhou")
	"smallphotos" (slice "Yahya Ekhou" "Dan Barker" "Ana González" "Ahmedur Rashid Chowdhury" "Harris Sultan" "Lilith Raza" "Nina Sankari")
	)}}
	
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Music" 
	"time" "13:05 - 13:15" 
	"title" "Dan Barker on Piano"
	"description" "Live piano performance by <strong>Dan Barker</strong>" 
	"smallphotos" (slice "Dan Barker")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Lunch break" 
	"time" "13:15 - 14:45" 
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Workshop" 
	"time" "14:00 - 14:40" 
	"title" "Asylum and Apostasy Workshop"
	"by" "Ana González" 
	"description" "<span class=\"bc\">Asylum and Apostasy Workshop</span> by <strong>Ana González</strong>" 
	"smallphotos" (slice "Ana González")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "14:45 - 16:00" 
	"title" "Hijab, Bodily Autonomy and Women’s Rights"
	"description" "<p>What are contradictions between women’s rights and religions?</p><p> What is the purpose of the hijab and burqa?</p><p>How do women challenge these and attain bodily autonomy and rights? How do we address feminists who ally with the Religious-Right or Far-Right agendas?</p>" 
	"opening" "Rana Ahmad" 
	"chair" "Lisa-Marie Taylor" 
	"panelists" (slice "Annie Laurie Gaylor" "Fauzia Ilyas" "Rana Ahmad" "Sara Nabil")
	"smallphotos" (slice "Rana Ahmad" "Lisa-Marie Taylor" "Annie Laurie Gaylor" "Fauzia Ilyas" "Sara Nabil")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Visual Art" 
	"time" "16:00 - 16:10" 
	"title" "Bodies in War, My Hair is Free"
	"description" "<p>Video installation by <strong>Sara Nabil</strong></p><p> Artist Sara Nabil’s performance exposes how the female body has increasingly become a venue for political ideologies, cultural conflicts and power struggles in Afghanistan, even more so since the Taliban re-took power last summer. Such a public staging of female physicality is taboo there. For Sara, art is an act of self-liberation. During the performance, she calls on the audience to donate their own hair as a sign of solidarity with the women of Afghanistan and other women who share the same fate.</p>" 
	"smallphotos" (slice "Sara Nabil")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Campaign" 
	"time" "16:10 - 16:30" 
	"title" "Raise Your Hands for Apostates"
	"by" "Victoria Gugenheim"
	"description" "CEMB Resident Artist Victoria Gugenheim leads a group action in solidarity with apostates worldwide.  Participants will paint their hand (or get it painted) with a red A, and be a part of a group solidarity  action and photo. Can't show your face? Hold your hand out over your face to stay anonymous." 
	"smallphotos" (slice "Victoria Gugenheim")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Coffee break" 
	"time" "16:30 - 17:15" 
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "17:15 - 18:30" 
	"title" "On Gods and Religious Morality"
	"description" "<p>What do we mean by morality? Who decides what is morally ‘good’?</p><p> Can we be good without God and religion? Is any form of morality ‘superior’?</p><p> What are the biggest moral challenges?</p>" 
	"opening" "Sohail Ahmad" 
	"chair" "Mimzy Vidz" 
	"panelists" (slice "Sohail Ahmad" "Armin Navabi" "Cemal Knudsen Yucel" "Khadija Khan" "Nuriyah Khan" "Wissam Charafeddine")
	"smallphotos" (slice "Sohail Ahmad" "Mimzy Vidz" "Armin Navabi" "Cemal Knudsen Yucel" "Khadija Khan" "Nuriyah Khan" "Wissam Charafeddine")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Interview" 
	"time" "18:30 - 19:00" 
	"title" "Interview with Richard Dawkins"
	"smallphotos" (slice "Richard Dawkins")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Interview" 
	"time" "19:00 - 19:15" 
	"title" "Interview with Sohail Arabi"
	"smallphotos" (slice "Sohail Arabi")
	)}}
	
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Ceremony" 
	"time" "19:15 - 19:30" 
	"title" "Freethought Champions Awards"
	"description" " <span class='cb'>Live music performance:</span> <span class='person'>Shelley Segal</span></p><p><span class='cb'>Award created by Sodabeh Gashtasebi.</span></p>"
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
	{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
		"type" "Campaign" 
		"time" "19:30 - 20:15" 
		"title" "Protest in solidarity with Salman Rushdie"
		)}}
	

</div>
<div class="days" id="day2">
<div class="day-title"><span class="day">DAY 2</span> <span class="date">— AUG. 21, 2022</span></div>
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Coffee and registration" 
	"time" "09:00 - 09:50" 
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Opening session" 
	"time" "09:50 - 10:00" 
	"description" "Opening with MCs activist <strong>Fariborz Pooya</strong> and YouTuber <strong>Veedu Vidz</strong>"
	"smallphotos" (slice "Faribroz Pooya" "Veedu Vidz" )
	)}}


{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Film" 
	"time" "10:00 - 10:40" 
	"title" "No Longer Without You (2018)"
	"description" "<p>The documentary by Mijke de Jong, featuring <strong>Nazmiye Oral</strong>, is based on the eponymous play that premiered in 2015 at Holland Festival in the direction of Adelheid Roosen. The piece revolves around a free-spirited daughter who decides to engage in a confrontational conversation with her religious mother.</p><p><span class='cb'><a href='https://we.tl/t-LS4xLjuIgR'>Download the film.</a></span></br><span class='cb'><i>The film screening is followed by a plenary discussion.</i></span></p>"
	"largephotos" (slice "Nazmiye Oral" )
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "10:40 - 11:45" 
	"title" "Terror, Trauma and Survival"
	"description" "<p>Discussion of the film <strong>“No Longer Without You”</strong></p><p>What are the consequences of renouncing religion? How does it adversely affect non-believers?</p><p>How do ex-Muslims cope and survive? How can I walk away when my legs are not my own?</p><p>How do I pave my path back? Isn’t my place within the family my right?</p>" 
	"chair" "Helen Nicholls" 
	"panelists" (slice "Mimzy Vidz" "Nazmiye Oral" "Savin Bapir-Tardy" "Victoria Gugenheim" "Milad Resaeimanesh")
	"smallphotos" (slice "Helen Nicholls" "Mimzy Vidz" "Nazmiye Oral" "Savin Bapir-Tardy" "Victoria Gugenheim" "Milad Resaeimanesh")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Campaign" 
	"time" "11:45 - 12:05" 
	"title" "Raif Badawi and Conference Action for #LiftRaifTravelBan"
	"description" "<strong>Ensaf Haidar</strong> provides an update on Raif Badawi’s latest situation, followed by a protest action for #LetRaifFly" 
	"largephotos" (slice "Raif Badawi")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Dance" 
	"time" "12:05 - 12:10" 
	"title" "Chosen Haram"
	"description" "Dance performance by Sadiq Ali, using circus, theater and live art to tell the story of two gay men and their meeting through a dating app." 
	"largephotos" (slice "Chosen Haram")
	)}}



{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "12:10 - 12:30" 
	"title" "Ex-Muslim (discussion in German)"
	"description" "<p>What is the importance of the term “Ex-Muslim”? How did it come about?</p><p>What are its effects and impact in Germany and globally? What is the future of the movement.</p>" 
	"panelists" (slice "Mina Ahadi" "Michael Schmidt-Salomon")
	"smallphotos" (slice "Mina Ahadi" "Michael Schmidt-Salomon")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
	{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
		"type" "Resolutions" 
		"title" "Celebrating Dissent 2022 Resolution Against Code 166" 
		"time" "12:30 - 12:35" 
		)}}
	
		
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Lunch break" 
	"time" "12:35 - 14:00" 
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "14:00 - 15:15" 
	"title" "Identity Politics, Racism and Fundamentalism"
	"description" "<p>Who determines group identity? What effects does identity politics have on dissent?</p><p> Is it possible to challenge religious fundamentalism and racism together? What does this look like?</p><p> What are the characteristics of politics of liberation if not identity-based?</p>" 
	"opening" "Marieme Helie Lucas" 
	"chair" "Sohail Ahmad" 
	"panelists" (slice "Marieme Helie Lucas" "Mazen Abou Hamdan" "Nada Topić Peratović" "Pragna Patel" "Zara Kay")
	"smallphotos" (slice "Marieme Helie Lucas" "Sohail Ahmad" "Pragna Patel" "Zara Kay" "Mazen Abou Hamdan" "Nada Topić Peratović")
	)}}
	
{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Poetry" 
	"time" "15:15 - 15:25" 
	"title" "Poetry reading"
	"by" "Halima Salat"
	"smallphotos" (slice "Halima Salat")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Coffee break" 
	"time" "15:25 - 16:15" 
	)}}


{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Plenary Panel" 
	"time" "16:15 - 17:45" 
	"title" "Creativity in Challenging Fundamentalism and Defending Secularism"
	"description" "<p>What are the forms of resistance? Why is creativity key? What is its impact?</p><p>Why is defense of secularism important for creativity? Does secularism have to mean anti-religion?</p>" 
	"opening" "Ibtissame Betty Lachgar" 
	"chair" "Jenny Wenhammar" 
	"panelists" (slice "Amed Sherwan" "Ibtissame Betty Lachgar" "Maryam Namazie" "Mohamed Hisham" "Nadia El Fani")
	"smallphotos" (slice "Ibtissame Betty Lachgar" "Jenny Wenhammar" "Amed Sherwan" "Maryam Namazie" "Mohamed Hisham" "Nadia El Fani")
	)}}

{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"time" "17:45 - 17:50"
	"type" "Resolutions" 
	"title" "International Secularism Day" 
	)}}
	


{{ $sessioncounter := (add 1 ($sessioncounter) ) }}
{{ partial "session" (dict "outer" . "sessioncounter" $sessioncounter
	"type" "Closing session" 
	"time" "17:50 - 18:45" 
	"description" "<p><span class='title'>Celebrating Dissent 2022 - Resolutions and Declarations</span></p><p><span class='title'>Scream for Freedom</span> perfomance art protest by <strong>Sara Nabil</strong>, in which the artist screams for the freedom of women and calls on women delegates to join her in the live performance.</p><p> <strong>Shelley Segal</strong> performing her new song, co-opting religious musical and liturgical elements to convey a message of defiance and strength especially for women and apostates.</p>"
	"largephotos" (slice "Sara Nabil" "Shelley Segal")
	)}}

<br>
</div>

<div class="days exhibitions">
	<div class="lineup"><div id="exhibitions" class="title">Exhibitions</div></div>
	<div class="preview exhibition-1">
	<img src="/program/exhibitions/PROG_SARANABIL.jpg">
	<div class="title">Sara Nabil</div>
	<div class="description">In her spatial installations and photography, Sara Nabil combines themes of flight, dream and identity and campaigns for the equality of women and girls. The artistic work gives her back the voice that was takenfrom her in her home country.</div> 
	
	<a class="button" href="/program/exhibitions/#exhibition1">READ MORE</a>
	</div>

	<div class="preview exhibition-2">
	<img src="/program/exhibitions/PROG_AIL.jpg">
	<div class="title">Atheists in Lebanon</div>
	<div class="description">Glimpses of some stories of discrimination, abuse, and human rights violations from atheists, freethinkers and non-religious individuals in Lebanon. The exhibition isbased on the findings of the “Case Studies” section of the multidisciplinary study “Atheists in Lebanon” (2021).</div> 
	<a class="button" href="/program/exhibitions/#exhibition2">READ MORE</a>
	</div>
</div>
</div>
