<meta charset="utf-8">
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" media="screen and (max-width: 990px)" href="/css/mobile.css" />
<script src="/js/scripts.js"></script>

<meta property="og:site_name" content="https://cd2022.freethoughtlebanon.net/">
<meta property="og:title" content="Celebrating Dissent 2022" />
<meta property="og:description" content="Celebrating Dissent 2022 will be the largest and most prominent gathering of ex-Muslims, freethinkers, and intellectuals championing freedom of thoughtsince the beginning the COVID-19 pandemic." />
<meta property="og:image" itemprop="image" content="https://cd2022.freethoughtlebanon.net/CD2022_social_media.jpg">
<meta property="og:type" content="website" />
