<div class="menu menu-{{.Title}}">
<div class="menu-row-background">
    <img id="header_background" src="/header_menu_background.png">
</div>

<div class="menu-row">
    <div class="menu-container">
        <div class="menu-item" data-submenu="none"><a href="/">Home</a></div><div class="menu-item" data-submenu="submenu_about"><a href="/about">About CD2022</a></div><div class="menu-item" data-submenu="submenu_program">Program</div><div class="menu-item" data-submenu="submenu_attendance">Attendance</div><div class="menu-item" data-submenu="submenu_sponsorship">Sponsorship</div><div class="menu-item" data-submenu="none">Contact</div>
    </div>
    <div class="submenus-container">
        <div id="submenu_about" class="submenu">
            <div class="submenu-item"><a href="/about#background_section">Background</a></div>
            <div class="submenu-item"><a href="/about#purpose_section">Purpose</a></div>
            <div class="submenu-item"><a href="/about#organizers_section">Organizers</a></div>
            <div class="submenu-item"><a href="/about#previous_editions_section">Previous Editions</a></div>
            <div class="submenu-item"><a href="/about#contact_us_section">Contact Us</a></div>
        </div>

        <div id="submenu_program" class="submenu">
            <div class="submenu-item">Speakers</div>
            <div class="submenu-item">Discussions</div>
            <div class="submenu-item">Art</div>
            <div class="submenu-item">Activities</div>
            <div class="submenu-item">Miscellaneous</div>
        </div>

        <div id="submenu_attendance" class="submenu">
            <div class="submenu-item">Venue</div>
            <div class="submenu-item">Buy Tickets</div>
            <div class="submenu-item">Visa Assistance</div>
        </div>

        <div id="submenu_sponsorship" class="submenu">
            <div class="submenu-item">Sponsors</div>
            <div class="submenu-item">Become a Sponsor</div>
            <div class="submenu-item">Donate</div>
        </div>
    </div>
</div>

<div class="hamburger-menu">
    <div id="hamburger_menu_button" class="hamburger-menu-button">
        <img src="/hamburger_menu_icon.png" alt="Menu Button" title="Menu Button"/>
    </div>
    <div id="hamburger_menu_window" class="menu-window">
        <div class="hamburger-menu-item" data-submenu="none"><div class="title">Home</div></div>

        <div class="hamburger-menu-item" data-submenu="hamburger_submenu_about">
            <div class="title">About CD2022</div>
            <div id="hamburger_submenu_about" class="hamburger-submenu mobile-submenu-closed">
                <div class="hamburger-submenu-item"><a href="/about#background_section">Background</a></div>
                <div class="hamburger-submenu-item"><a href="/about#purpose_section">Purpose</a></div>
                <div class="hamburger-submenu-item"><a href="/about#organizers_section">Organizers</a></div>
                <div class="hamburger-submenu-item"><a href="/about#previous_editions_section">Previous Editions</a></div>
                <div class="hamburger-submenu-item"><a href="/about#contact_us_section">Contact Us</a></div>
            </div>
        </div>

        <div class="hamburger-menu-item" data-submenu="hamburger_submenu_program">
            <div class="title">Program</div>
            <div id="hamburger_submenu_program" class="hamburger-submenu mobile-submenu-closed">
                <div class="hamburger_submenu-item">Speakers</div>
                <div class="hamburger_submenu-item">Discussions</div>
                <div class="hamburger_submenu-item">Art</div>
                <div class="hamburger_submenu-item">Activities</div>
                <div class="hamburger_submenu-item">Miscellaneous</div>
            </div>
        </div>

        <div class="hamburger-menu-item" data-submenu="hamburger_submenu_attendance">
            <div class="title">Attendance</div>
            <div id="hamburger_submenu_attendance" class="hamburger-submenu mobile-submenu-closed">
                <div class="hamburger_submenu-item">Venue</div>
                <div class="hamburger_submenu-item">Buy Tickets</div>
                <div class="hamburger_submenu-item">Visa Assistance</div>
            </div>
        </div>

        <div class="hamburger-menu-item" data-submenu="hamburger_submenu_sponsorship">
            <div class="title">Sponsorship</div>
            <div id="hamburger_submenu_sponsorship" class="hamburger-submenu mobile-submenu-closed">
                <div class="hamburger_submenu-item">Sponsors</div>
                <div class="hamburger_submenu-item">Become a Sponsor</div>
                <div class="hamburger_submenu-item">Donate</div>
            </div>
        </div>

        <div class="hamburger-menu-item" data-submenu="none">
            <div class="title">Contract</div>
        </div>
    </div>
</div>

</div>