<!-- Hear from you / Contact us. -->
<div class="main-column">
<div id="contact_us_section" class="section-container bg-purple">
	<div class="content-two-columns">
		<div class="aligner">
			<div class="left">
				<div class="contained-text">
				    <div class="section-title title">We’d love to hear from you!</div>
					<p>
						Send us all your enquiries and suggestions:<br>
						<a class="barid" href="mailto:cd2022@freethoughtlebanon.net">cd2022@freethoughtlebanon.net</a>
					</p>
					<p>
						For updates, highlights, and detailed information about <strong>Celebrating Dissent 2022</strong>,
						follow the organizers’ social media accounts.
					</p>
	<!--
					<p>
						Subscribe to the newsletter to receive reminders,
						highlights, and detailed information about
						Celebrating Dissent 2022:
					</p>
					<p>
						<form id="contact_form" method="post" action="">
							<input type="text" placeholder="Your email" />
							<button onclick="document.getElementById('contact_form').submit();">SUBMIT</button>
						</form>
					</p>
	-->
				</div>
			</div>
			<div class="right">
				<div class="ftlb">
					<img src="/about/CD2022_About5.png" class="contained-image contact-right-image" />
					<div class="social-container">
						<div class="social social-website"><a target="_blank" href="https://freethoughtlebanon.net/"><img class="icon" src="/program/speakers/icon_website_white.png"></a></div>
						<div class="social social-youtube"><a target="_blank" href="https://www.youtube.com/channel/UCYZUFjeP_OXQNX3GVdBVe5g"><img class="icon" src="/program/speakers/icon_youtube_white.png"></a></div>
						<div class="social social-facebook"><a target="_blank" href="https://www.facebook.com/Freethought.Lebanon/"><img class="icon" src="/program/speakers/icon_facebook_white.png"></a></div>
						<div class="social social-instagram"><a target="_blank" href="https://www.instagram.com/freethoughtlebanon/"><img class="icon" src="/program/speakers/icon_instagram_white.png"></a></div>
					</div>
				</div>
				
				<div class="cemb">
					<img src="/about/CD2022_About4.jpg" class="contained-image contact-right-image" />
					<div class="social-container">
						<div class="social social-website"><a target="_blank" href="https://www.ex-muslim.org.uk"><img class="icon" src="/program/speakers/icon_website_white.png"></a></div>
						<div class="social social-twitter"><a target="_blank" href="https://twitter.com/CEMB_forum"><img class="icon" src="/program/speakers/icon_twitter_white.png"></a></div>
						<div class="social social-facebook"><a target="_blank" href="https://www.facebook.com/exmuslims/"><img class="icon" src="/program/speakers/icon_facebook_white.png"></a></div>
						<div class="social social-instagram"><a target="_blank" href="https://www.instagram.com/official_cemb_/"><img class="icon" src="/program/speakers/icon_instagram_white.png"></a></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	</div>

</div>

</div>