<div class="media-header-links">
    <div class="title">Photos</div>
    <div class="media-header-link {{ if .participants }}selected{{ end }} first-element"><a href="/media/media_participants" target="_self">Participants</a></div>
    <div class="media-header-link {{ if .panels }}selected{{ end }}"><a href="/media/media_panels" target="_self">Panels</a></div>
    <div class="media-header-link {{ if .performances }}selected{{ end }}"><a href="/media/media_performances" target="_self">Performances</a></div>
    <div class="media-header-link {{ if .protests }}selected{{ end }}"><a href="/media/media_protests" target="_self">Protests</a></div>
    <div class="media-header-link {{ if .awards }}selected{{ end }}"><a href="/media/media_awards" target="_self">Awards</a></div>
    <div class="media-header-link {{ if .misc }}selected{{ end }}"><a href="/media/media_misc" target="_self">Misc</a></div>
</div>