        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "DSC_1415_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "DSC_1417_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "DSC_1717_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1240_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1243_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1253_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1257_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1260_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1266_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1270_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1276_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1281_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1295_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1299_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1326_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1453_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1458_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1469_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1472_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1478_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1487_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1489_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1648_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Panel at CD2022" "src" "Z72_1893_chadiwehbe") }}
