        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2015_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2023_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2031_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2033_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2039_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2041_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2045_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2050_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2051_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2060_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2064_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2067_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2068_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2074_chadiwehbe") }}
