{{ if (eq .current .category) }}
<div class="media-picture">
	<a onclick="popupvideo(this.parentElement , 'iframe-{{ .id }}')"><div title="{{ .title }}" class="blank-image" style='background-image:url("https://i.ytimg.com/vi/{{ .id }}/hqdefault.jpg")'>
	<img class="play-icon" src="/gallery/youtube-play-icon.png">
	<div class="video-thumb-title">{{ .title }} </div>
	</div>
	</a>
</div>
<div class="mediapopup"><div><div><button class="close"  onClick="hideparent(this , 'iframe-{{ .id }}')"><img src="/program/speakers/close-button.svg"></button>
		<figure class="media-img-container">
		<iframe id="iframe-{{ .id }}" loading="lazy" width="1120" height="630" src="https://www.youtube.com/embed/{{  .id }}?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		 <figcaption>{{ .description }} <span class="credit"><br>{{ .credits}}</span></figcaption>
		</figure>
	</div></div>
</div>
{{ end }}