<div class="session">
<div class="time">{{.time}}</div>
<div class="type {{.type}}">{{.type}}</div>

<div class="session-info">
	{{ if .title }}<div class="title">{{.title}} {{if .by}} <span class="by">by</span> <span class="person">{{ .by }}</span>{{end}}</div>{{ end }}
	{{ if .description }}<div class="details">
		<div class="descripton">{{safeHTML  .description}}</div>
		{{ if .opening }}<div class="opening"><span class="lead">Opening remarks and personal story:</span> <span class="person">{{.opening}}</span></div>{{ end }}
		{{ if .chair }}<div class="chair"><span class="lead">Chair:</span> <span class="person">{{.chair}}</span></div>{{ end }}
		{{ if .panelists }}
			<div class="panelists"><span class="lead">Panelists:</span> 
			<span class="person">{{ delimit .panelists ", " ", </span>and <span class=\"person\">" }}</span>
			<div class="small-photos">
				{{ range .panelists }}<figure><img src="/program/speakers/Speakers_{{.}}.jpg"> <figcaption>{{.}}</figcaption></figure>{{end}}
			</div>
			</div>
		{{ end }}
			
		{{ if .smallphotos }}
			<div class="small-photos">
				{{ range .smallphotos }}<figure><img src="/program/speakers/Speakers_{{.}}.jpg"> <figcaption>{{.}}</figcaption></figure>{{end}}
			</div>
		{{ end }}
			
		{{ if .largephotos }}
			<div class="large-photos">
				{{ range .largephotos }}<span class="person">{{.}}</span>{{end}}
			</div>
		{{ end }}

	</div>
	{{ end }}
</div>

</div>