        <div class="featured-speaker {{ .outer.Scratch.Get "counter" }}" onClick="popup(this)">
            <div class="locator"><img class="preload" width="0" height="0" src="/program/speakers/Speakers_{{ .image }} Y.jpg">
                <img class="speaker-main-photo" src="/program/speakers/Speakers_{{ .image }} P.jpg" onmouseover="this.src='/program/speakers/Speakers_{{ .image }} Y.jpg'" onmouseout="this.src='/program/speakers/Speakers_{{ .image }} P.jpg'"/>
                <div class="featured-description">
                    <div class="click_indicator"><img src="/program/speakers/icon_click.png"></div>
                    <div class="name">{{ .name }}</div>
                    <div class="text">{{ .title }}</div>
                	</div>
            </div>
        </div>
        <div class="popup"><div><div><button class="close"  onClick="hideparent(this)"><img src="/program/speakers/close-button.svg"></button>
				<div class="speaker-img-container">
            		<img class="speaker-img" src="/program/speakers/Speakers_{{ .image }} P.jpg">
				</div>
            <div class="featured-description">
                <div class="name">{{ .name }}</div>
                <div class="text">{{ .title }}</div>
            </div>
            <div class="social-container">
            {{ if .website }}<div class="social social-website"><a href="{{ .website }}"><img class="icon" src="/program/speakers/icon_website.png"></a></div>{{end}}
            {{ if .twitter }}<div class="social social-twitter"><a href="{{ .twitter }}"><img class="icon" src="/program/speakers/icon_twitter.png"></a></div>{{end}}
            {{ if .facebook }}<div class="social social-facebook"><a href="{{ .facebook }}"><img class="icon" src="/program/speakers/icon_facebook.png"></a></div>{{end}}
            {{ if .instagram }}<div class="social social-instagram"><a href="{{ .instagram }}"><img class="icon" src="/program/speakers/icon_instagram.png"></a></div>{{end}}
            {{ if .youtube }}<div class="social social-youtube"><a href="{{ .youtube }}"><img class="icon" src="/program/speakers/icon_youtube.png"></a></div>{{end}}
			</div>
			<div class="bio">
            {{ .bio }}
			</div>
        </div></div>
{{ .outer.Scratch.Set "counter" (not (.outer.Scratch.Get "counter") ) }}
</div>