        <div class="featured-speaker" onClick="popup(this)">
            <div class="locator">
                <img src="/program/speakers/Speakers_{{ .image }}.jpg" />
                <div class="featured-description">
                    <div class="name">{{ .name }}</div>
                    <div class="text">{{ .title }}</div>
                </div>
            </div>
        </div>
        <div class="popup"><div><button class="close"  onClick="hideparent(this)">Close</button>
            <img src="/program/speakers/Speakers_{{ .image }}.jpg">
            <div class="featured-description">
                <div class="name">{{ .name }}</div>
                <div class="text">{{ .title }}</div>
            </div>
            <div>
            <div class="social social-website"><a href="{{ .website }}">Website</a></div>
            <div class="social social-youtube"><a href="{{ .youtube }}">YouTube</a></div>
            <div class="social social-twitter"><a href="{{ .twitter }}">Twitter</a></div>
            <div class="social social-facebook"><a href="{{ .facebook }}">Facebook</a></div>
            <div class="social social-instagram"><a href="{{ .instagram }}">Instagram</a></div>
			<br><br><br>
            {{ .bio }}
            </div>
        </div></div>
