<!-- What to expect -->

<div id="id-media-gallery-container" class="gal-bg">
    <div class="announcement-media-gallery">
        <div class="main">Media Gallery</div>
        <div class="details">Photos and videos of all discussion panels, art performances, speeches and all other features and activities are published in the Gallery</div>
        <div class=""><a class="button" href="/gallery">GO TO GALLERY</a></div>    

    </div>
</div>


<div style="display:none" id="id-expect-container" class="expect-container ven-bg">
    <div class="text-container">
        <div class="title">What to expect?</div>    
        <div class="body">
            <p>
                <strong>Discussion panels:</strong> Islam and religion, blasphemy and free speech, hijab and women's rights, etc.
            </p>
            <p>
                <strong>Performance art shows:</strong> Dance, singing, poetry, etc.
            </p>
            <p>
                <strong>Visual arts exhibitions:</strong> Photography, art installations, etc.
            </p>
            <p>
                <strong>Freethought Champions Award Ceremony</strong>
            </p>
            <p>
                <strong>Networking booths</strong> for attending organizations
            </p>
            <p class="much-more">
                And much more!
            </p>
				{{ if eq .Title "Program"  }} <p>The full program will be announced soon. Stay tuned!</p> {{ end }}
				{{ if eq .Title "Home" }} <a class="button" href="/program">LEARN MORE</a> {{ end }}
				<a class="button buy-ticket-button" href="/attendance#ticket_section">BUY TICKET</a>
        </div>
    </div>
</div>
