.menu-row-background, .menu-row {
    display: none;
}

.hamburger-menu {
    position:;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

label {
    cursor: pointer;
}
label:focus {
    outline: none;
}

.hmenu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000c;
    width: 25em;
    height: 100%;
    transform: translate3d(-25em, 0, 0);
    transition: transform 0.35s;
    z-index:3
}
.hmenu label.hmenu-toggle {
    transition:all 0.3s ease-in-out;
    position: fixed;
	top:0;
    right: -6em;
    width: 6em;
    height: 5em;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff0 url(/hamburger_menu_icon.svg) 50% 50%/4em 4em no-repeat;
	color: white;
}
#hmenu_checkbox:checked + .hmenu label.hmenu-toggle { right:19em; transition:all 0.3s ease-in-out;}

.hmenu ul {
    list-style-type: none;
    font-size:2.5em;
    text-align: right;
    padding: 0.5em 0.5em 0.5em 0;
}

.hmenu ul li a, .hmenu ul li label {
    display: block;
    text-decoration: none;
    color: white;
	padding-top:0.5em; padding-bottom:0.5em;
}
.hmenu ul li a:hover, .hmenu ul li label:hover {
    color: #ffe600;
}
.page-Home .hmenu-Home, .page-About .hmenu-About  , .page-Program .hmenu-Program  , .page-Attendance .hmenu-Attendance , .page-Contact .hmenu-Contact{
	font-weight:bolder;
	color: #ffe600
}


.hmenu ul li {
    border-bottom:1px solid grey;
}

/* hide inputs */
.hmenu-checkbox {
    display: none;
}

/* hide navigation icon for sublabels */
.hmenu .hmenu label.hmenu-toggle {
    background: none;
}

/* fade in checked menu */
#hmenu_checkbox:checked + .hmenu {
    transform: translate3d(0, 0, 0);
}

.hmenu-submenu {
    display: none;
}

.announcement-container { }

.short-about-section-container .text {
    max-width: 80%;
}

.ven-bg {
    /* height: 50%; */
    min-height: unset;
	padding-left:5%; padding-right:5%;
}
.ven-bg .text-container { width:90%; max-width: unset;}
.ven-bg .text-container .body p {font-size:1.7em}


.about-header-container .text-container {
    top: 5%;
}

.contained-backgrounded-text {
    min-height: 84px;
}


/* buttons easily clickable on mobile*/
.button button , a.button {width:auto; height:2em;font-size:2em;} 
a.button  {line-height:2em;} 
.features-banner-container .feature-banner .description {font-weight:bold;font-size:larger;}

/* Bigger speakers on mobile*/
.featured-speaker .featured-description {width:100% ;padding-bottom:0.5em;	height: 7em;	margin: -8.4em 0 0 0;}
	

.featured-speaker  .featured-description .name {font-size:1.7em}
.featured-speaker  .featured-description .text {font-size:1.2em}
.featured-speaker , .content-Program .featured-speaker { width: 49vw; position: relative;}
.content-Program .featured-speaker .locator { width:50vw}

.page-Home .featured-speaker .locator { margin-bottom:2em;}


.visa-assistance {width:90%}

.background-picture-container {max-height:100%; height: 33vh;} /* for landscape*/
.announcement-container > div {  font-size: 2em !important }
.announcement-container .main {  font-size: 2em !important }


.popup {font-size:3rem;}
.popup .speaker-img-container {height:auto;}
.popup  button.close { right: -15px;top: -15px; }
.popup > div{
	top:3vh;
	left:3vw;
	width:90%;
	height:80%;
	padding:2vh 2vw 2vh 2vw;
}
.popup .bio {	position:absolute ;bottom:0.5em;left: 0.5em;right:0.5em;top:9em;overflow-y: auto; }

.popup img.speaker-img { width:25vw; max-height:unset; }
.popup .featured-description { font-size:1em; }

button  {height:auto;font-size:0.8em;}
.content {	padding-top:120px; }

footer {font-size:1.5em;}
.content-two-columns .left , .content-two-columns .right { display:block; width:100%; font-size:1em; margin-bottom:3em; margin-right:0;}
.content-two-columns .left .contained-backgrounded-text , .content-two-columns .right .contained-backgrounded-text {width:90%}
.content-two-columns .contained-text { text-align:justify; }
.content-two-columns button , .content-two-columns a.button { font-size:2em; }


.content > .title {position:fixed; top: 0; width:100vw;z-index:1 ; font-size: 3em;}

.cemb, .ftlb {	width: 60%; margin-left:20%; }
.footer .links a {    display:inline-block; margin: 0 0.1em 0 0.1em; }

#purpose_section {	max-width: 35em; }
.short-about-section-container .text {	max-width: 45em; }
.section-title.title { padding-left:0; width: 90%;  margin: 0 auto 0 auto;}
.page-Home .section-title.title { margin-bottom:1em;}

#contact_us_section .section-title.title { width: 100%; }
.contact-right-image {    width: 300px;}
.ftlb { height:200px;}
#contact_us_section .social-container {width:50px;vertical-align: top;float:right;}
.ftlb > img , .cemb > img {margin-left:0;}
#contact_us_section .social .icon { width:2.2em}

.content-Program .featured-speaker .locator .click_indicator {display:block;}