.menu-row-background, .menu-row {
    display: none;
}

.hamburger-menu {
    display: block;
    position: fixed;
    width: 90%;
    z-index: 2;
    margin: 20px 0 0 0;
    text-align: right;
}

.hamburger-menu .hamburger-menu-button {
    position: absolute;
    display: initial;
    width: 10%;
    cursor: pointer;
}

.hamburger-menu img {
    position: relative;
    width: 100%;
}

.hamburger-menu .menu-window {
    position: absolute;
    display: none;
    right: 0;
    padding: 15px 20px;
    text-align: left;
    font-size: 40px;
    background-color: RGBA(255, 255, 255, 0.8);
}

.hamburger-menu .menu-window .menu-item {
    display: inherit;
    padding: 16px 0;
}

.announcement-container {
    top: 0;
}

.short-about-section-container .text {
    max-width: 80%;
}

.expect-container {
    height: 50%;
    min-height: unset;
}