@font-face {
    font-family: "LatoBlack";
    src: url("/fonts/Lato-Black.ttf")  format("truetype")
}

@font-face {
    font-family: "LatoRegular";
    src: url("/fonts/Lato-Regular.ttf")  format("truetype")
}

@font-face {
    font-family: "LatoLight";
    src: url("/fonts/Lato-Light.ttf")  format("truetype")
}

@font-face {
    font-family: "GothamBold";
    src: url("/fonts/Gotham-Bold.otf")  format("opentype")
}

@font-face {
    font-family: "GothamBlack";
    src: url("/fonts/Gotham-Black.otf")  format("opentype")
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: LatoRegular, serif;
}

a, a:visited, a:hover, a:hover {
    color: inherit;
    text-decoration: none;
}

.background-picture-container {
    position: relative;
    top: 0;
    width: 100%;
    max-height: 80%;
    z-index: 1;
    overflow: clip;
}

.background-picture-container img {
    width: 100%;
}

.line {
    position: relative;
    display: block;
    width: 20%;
    margin: 40px auto 0 auto;
    border-top: 1px solid #5a3d99;
}

button {
    height: 36px;
    padding: 5px 35px;
    border-radius: 10px;
    background-color: #5a3d99;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    font-family: GothamBold, serif;
}

.section-container {
    margin: 40px auto 0 auto;
    text-align: center;
}

.section-title {
    font-size: 32px;
    color: #5a3d99;
    font-family: GothamBold, serif;
}

.hamburger-menu {
    display: none;
}

.menu-row {
	position:relative;
	height:0;
    display: block;
    width: 100%;
    text-align: right;
    z-index: 2;
	background:red;
}

.menu-row .menu-container {
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0 0 0 0;
    color: #ffffff;
	width: 100%;
}


.menu-row .menu-container .menu-item {
    display: inline-block;
    height: 24px;
    padding: 0 20px;
    margin: 0 0 0 -3px;
    cursor: pointer;
    border-bottom: solid 1px;
}


.menu-row .submenus-container {}

.menu-row .submenus-container .submenu {
    position: absolute;
    display: none;
    padding: 8px 10px;
    text-align: left;
    background-color: RGBA(255, 255, 255, 0.8);
}

.menu-row .submenus-container .submenu .submenu-item {
    cursor: pointer;
}


.announcement-container {
    position: absolute;
    bottom: -5%;
    left: 0;
    margin: 32% auto auto 12%;
    color: #ffffff;
    z-index: 1;
}


.announcement-container .main {
    font-size: 22px;
}

.announcement-container .details {
    margin-top: 10px;
    opacity: 0.6;
}

.counter-container {
    top: 65%;
    left: 0;
    margin: 4% auto auto 0;
    font-size: 30px;
    color: #ffe600;
    z-index: 1;
    font-family: LatoLight, serif;
}

.counter-container #days_counter {}

.features-banner-container {
    position: relative;
    display: block;
    width: 670px;
    margin: 40px auto 0 auto;
    text-align: center;
}

.features-banner-container .feature-banner {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    text-align: center;
}

.features-banner-container .feature-banner .number {
    height: 42px;
    font-size: 34px;
    font-weight: 600;
    color: #5a3d99;
}

.features-banner-container .feature-banner .description {}

.short-about-section-container {}

.short-about-section-container .title {
}

.short-about-section-container .text {
    max-width: 60%;
    margin: 0 auto 26px auto;
}

.featured-speakers-container {margin-bottom:2em;}

.featured-speakers-container .title { margin-bottom:1em;}
.featured-speakers-container .list {  margin-bottom: 2em;
}

.featured-speaker { 
    display: inline-block;
    width: 24vw;
    vertical-align: top;
	text-align:center;
	margin-bottom:1em;
}

.featured-speaker .locator { box-shadow: 5px 5px 5px lightgrey; width:80%; margin:0 10% 0 10%;} 

.featured-speaker img {
    width: 100%;
	min-width:15vw;
	min-height:10em;
}

.featured-speaker .featured-description { 
	position:relative;
    background: RGBA(90, 61, 153, 0.6);
    text-align: left;
    font-family: GothamBlack, serif;
    color: #ffffff;
	margin: -7em 0 0 0;
	width: 100%;
    height: 4.2em;
}

.featured-speaker .featured-description .name { 
	padding-top:0.3em;
	margin:0.5em 0.5em 0.3em 0.5em;
}

.featured-speaker .featured-description .text {
	margin:0 0.5em 0.5em 0.5em;
    font-family: LatoRegular, serif;
    font-size: 0.8em;
}

.ven-bg {
	background-image:url("/CD2022_Apply_background.jpg"); 
	background-position-y: center;
	background-size: cover;
	padding: 50px 10%;
	min-height:17em;
}
.ven-bg .text-container {
    background-color: RGBA(255, 255, 255, 0.75);
    border-radius: 3px;
	width:50%;max-width: 400px;
    padding: 50px 50px 40px 50px;
}

.ven-bg .text-container .title {
    font-family: GothamBold, serif;
    font-size: 32px;
    color: #5a3d99;
}

.ven-bg .text-container .body {    font-family: sans-serif; }
.ven-bg .text-container .body strong {    font-family: LatoBlack, sans-serif; }


.ven-bg .text-container .body p.much-more {
    margin-top: 30px;
}

.ven-bg .text-container .body .button {
    margin-top: 40px;
}

.ven-bg.about-header-container {
		background-image:url("/about/CD2022_About1.jpg");
}

.ven-bg.about-header-container .text-container {
    background-color: RGBA(90, 61, 153, 0.75);
	color:white; 
	color:white; 
}

.picture-comments {
    display: block;
    font-size: 13px;
    color: #cccccc;
    text-align: right;
}

.subnotes {
    font-size: 14px;
    color: #cccccc;
}

.content-two-columns {
    width: 90%;
    margin: 40px auto 0 auto;
}

.content-two-columns .aligner {
    text-align: center;
}

.content-two-columns .left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
	margin-right:5%;
}

.content-two-columns .right {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.contained-text {
    text-align: left;
}

.contained-backgrounded-text {
    width: 80%;
    padding: 16px 30px 16px 40px;
    color: #ffffff;
    background-color: #5a3d99;
}

.contained-image {
    position: relative;
    width: 100%;
}

.contact-right-image {
    width: 250px;
}

.footer {
    /* position: relative; */
    width: 100%;
    height: 120px;
    text-align: center;
    color: #ffffff;
    background-color: #5a3d99;
}

.footer .links {
    padding-top: 20px;
}

.footer .copyrights {
    padding-top: 14px;
    font-size: 12px;
}

/* fixes for wide screens */
body , header { max-width: 1880px;margin-right:auto;margin-left:auto;}
.menu-row-background { display:none;}
.menu-row { position:relative;}
.menu-row .submenus-container .submenu { margin-left:-90px;}
.announcement-container {bottom: 5%;}
.background-picture-container {background-image: url('/CD2022_site_landing.jpg');width: 100%;height: 30vh;min-height:600px;background-attachment: initial;background-size: cover;min-width: 1060px;background-position-y: 45%;}
.counter-container {margin-top:10px; }




.popup { position:fixed; display:none; z-index:998; top:0; left:0; width:100%;  height:100%; background-color:#000c;}
.popup > div {
	position:fixed;
    top:25vh; left:25vw;
    width:50%;  height:50%;
	z-index:999;
	background-color:#fff;
	padding:2vh 2vw 2vh 2vw;
	border:1px solid grey;
	border-radius:0.4em;
	text-align:left;
	overflow-y: auto;
}
.popup img { float:left; margin-right:1em; margin-bottom:1em; max-height:200px;}
.popup .featured-description { font-size:larger; margin-bottom:1em;}
.popup .featured-description .name { font-weight:bolder; }
.close {
	display:block; float:right;
}


.content {	padding-top:88px; }

.content-Program .featured-speaker {
    width: 24vw;
	margin-bottom:0;
	cursor:pointer;
}
.content-Program .featured-speaker .locator img { width:25vw}

.submenus-container {display:none}

.content-Program .featured-speaker .locator { margin: 0 0  0  0; width:unset;}
.content-Program .featured-speaker .featured-description { margin-bottom:2.1em;}

.menu-row .menu-container {  color:#5a3d99; height:25px;padding-top:63px;}
.menu-row .menu-container .menu-item:hover {    color: #64326d;    border-bottom: solid 2px; }
.menu-row .menu-container {background-image:url("/header_menu_background.png") }

.page-Home .menu-row .menu-container { color:white; }
.page-Home .menu-row .menu-container .menu-item:hover {    color: #ffe600;    border-bottom: solid 2px; }
.page-Home .menu-row .menu-container {background-image:none; }

.menu-item  {font-weight:normal;}
.page-Home .menu-Home , .page-About .menu-About  , .page-Program .menu-Program  , .page-Attendance .menu-Attendance , .page-Contact .menu-Contact{font-weight:bold}
.menu-row .menu-container .menu-item.menu-Contact{ margin-right:40px; }


.content > .title { padding:60px 0 30px 60px; font-size:2em;font-weight:bold;color:white}
.content > .title { background:url("/cd2022_page_title_bg.jpg");background-size: cover;background-position-y: center;}
.content-Program .linup { text-align:center; margin: 40px 20% 40px 20%; }
.content-Program .linup .title { font-size:2em;font-weight:bold; }


.main-column {padding: 2em 10% 2em 10%;}
.visa-assistance {width:40%}
.visa-assistance .title {font-weight:bold;font-size:1.5em;color: #5a3d99;}
a.barid {color: #5a3d99;}

.bg-purple {width:100%; background-color: #5a3d99; padding:2em 0 2em 0; margin-bottom:3em; color: white;}
.bg-purple .title {font-weight:bold;font-size:1.5em;margin-bottom:1em;color: white;}
.bg-purple .barid {color:yellow;}

.social .icon { width:1.5em;}

#purpose_section { max-width:60%}

.ftlb > img {background-color:white} 
.ftlb > img , .cemb > img {display:inline-block;margin-left:20%;float:left;}

.cemb , .ftlb { height:180px;}