<!DOCTYPE html>
<html lang="en">
<head>{{ partial "head.html" . }}</head>

<body class="page-{{.Title}}">
    <header>{{ partial "header.html" . }}</header>
<div class="content content-Exhibitions">

<div class="title">Exhibitions</div>

<div class="exhibition1">

<div class="exhibition-photo">
    <div class="title">Sara Nabil</div>
    <div class="description">In her spatial installations and photography, the Afghan artist, political
    scientist, and human rights activist combines themes of flight, dream and
    identity and campaigns for the equality of women and girls. The artistic work
    gives her back the voice that was taken from her in her home country.</div>
</div>

<div class="exhibition-left">
<p>For Sara Nabil, art is a form of protest and a
critique of patriarchal structures – an essential
means of shaping social change.
</p>
<p>
Nabil’s exhibition in <strong>Celebrating Dissent 2022</strong>
is part of her new performance project and
interactive presented for the first time on May
4, 2022 at Kunsthalle Mannheim. The artist
responds to the renewed seizure of power by
the Taliban in August 2021, whose
fundamentalist worldview regulates female
identity to the point of invisibility, employing
gender segregation, a strict dress code and
rules of conduct.
</p>
<p>
Sara Nabil’s art protest not only shows how the
female body, in all its facets – from hair to
clothing – becomes alienated, transformed into
a site of political ideologies, cultural conflicts
and power struggles, but is also a source of
self- determination and freedom.
</p>
</div>

<div class="exhibition-right">
<img src="/program/exhibitions/PROG_SARANABIL3.jpg" alt="">
</div>

</div>

<hr class="line"><br>

<div class="exhibition2">
<div class="exhibition-title">Atheists in Lebanon</div>
<div class="exhibition-left">
<p>
In April 2021, Freethought Lebanon published
<strong>“Atheists in Lebanon: Human Rights
Violations Report”</strong>, a large study documenting
various aspects of discimination and human
rights violations against atheists, agnostics,
freethinkers, and non-religious individuals in
Lebanon. Findings of the study were presented
in four sections:
</p>
<p>
1. <strong>Legal Report:</strong> scrutinizing the paradoxes and
oddities of the Lebanese law and constitution
concerning this issue;
</p>
<p>
2. <strong>Media Analysis:</strong> presenting the diverse
means of misrepresentation and under
representation of atheists and the
non-religious in TV talk shows and news
reports.
</p>
</div>
<div class="exhibition-right">
<p>
3. <strong>Survey:</strong> a perception survey of around 650
atheists or non-religious individuals, offering an
in-depth view of atheists in Lebanon and the
various aspects of discrimination they face;
</p>
<p>
4. <strong>Case Studies:</strong> interviews with 40 individuals
who identify as atheists or non-religious in
Lebanon with experiences of oppression and
discrimination on multiple fronts.
</p>
<p>
Glimpses of some stories from the “Case
Studies” section are exhibited in 10 posters
inside the conference hall of <strong>Celebrating
Dissent 2022.</strong>
</p>
<a class="button" href="https://freethoughtlebanon.net/atheists-in-lebanon-study">READ MORE</a>
</div>

<div class="exhibition-stories">
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL1.jpg" alt ="Story1"></div>
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL2.jpg" alt ="Story2"></div>
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL3.jpg" alt ="Story3"></div>
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL4.jpg" alt ="Story4"></div>
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL5.jpg" alt ="Story5"></div>
<div class="exhibition-story"><img src="/program/exhibitions/PROG_AIL6.jpg" alt ="Story6"></div>
</div>

</div>

<footer>{{ partial "footer.html" . }}</footer>


</body>

</html>