<!DOCTYPE html>
<html lang="en">
<head>{{ partial "head.html" . }}</head>

<body class="page-{{.Title}}">
    <header>{{ partial "header.html" . }}</header>

	<div class="content content-Program">
		{{ partial "media_header_links" }}

		<div class="media-pictures-container">

			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_1717_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2031_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2089_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1312_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1455_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1478_chadiwehbe") }}
			{{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1893_chadiwehbe") }}

		</div>

		<div class="videos">
		</div>
	</div>

</body>

</html>