<!DOCTYPE html>
<html lang="en">
<head>{{ partial "head.html" . }}</head>

<body class="page-{{.Title}}">
    <header>{{ partial "header.html" . }}</header>

	<div class="content content-Media content-Photos">
		<div class="media-pictures-container">
		<div class="media-header-links-and-button">
			<div class="media-header-links">
				<div class="title"><a href="/media">Photos</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_participants") }}selected{{ end }} first-element"><a href="/media/media_participants">Participants</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_panels") }}selected{{ end }}"><a href="/media/media_panels">Panels</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_performances") }}selected{{ end }}"><a href="/media/media_performances">Performances</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_protests") }}selected{{ end }}"><a href="/media/media_protests">Protests</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_awards") }}selected{{ end }}"><a href="/media/media_awards">Awards</a></div>
				<div class="media-header-link {{ if (eq .Params.subpage "media_misc") }}selected{{ end }}"><a href="/media/media_misc">Misc</a></div>
			</div>
			<div class="button_jump"><a class="button" href="/media/media_misc">VIDEOS</a></div>
		</div>

		<div class="media-pictures-content">
			{{ partial .Params.subpage }}
		</div>
	</div>

	<div class="videos">
	</div>
</div>

</body>

</html>