<!DOCTYPE html>
<html lang="en">
<head>{{ partial "head.html" . }}</head>

<body class="page-{{.Title}}">
<header>{{ partial "header.html" . }}</header>
<div class="content content-Program">

    {{ partial "media_header_links" (dict "protests" "1") }}

    <div class="media-pictures-container">

        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2089_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2090_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2091_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2092_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2093_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2094_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2102_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2109_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2110_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2114_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2116_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2125_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2127_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2129_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2134_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2136_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2138_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2140_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2155_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2156_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2158_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2159_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "DSC_2163_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1577_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1616_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1619_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1633_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1650_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1655_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1660_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1663_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1665_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1666_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1674_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1680_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1684_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1691_chadiwehbe") }}
        {{ partial "media_photo" (dict "alt" "Participants at CD2022" "src" "Z72_1699_chadiwehbe") }}

    </div>

    <div class="videos"></div>
</div>


</body>

</html>