<!DOCTYPE html>
<html lang="en">
<head>{{ partial "head.html" . }}</head>

<body class="page-{{.Title}}">
    <header>{{ partial "header.html" . }}</header>
<div class="content content-Program">

<div class="title">Program</div>
<div class="linup">
<div class="title">Speakers Linup</div>
	More than 50 speakers from more than 30 countries around the world will be gathering at Celebrating Dissent 2022, to share their ideas and experiences in freethought and dissent, through discussions, poetry, films, and art performances.
</div>

{{ partial "speaker" (dict "name" "Maryam Namazie" "title" "CO-FOUNDER OF THE COUNCIL OF EX-MUSLIMS OF BRITAIN" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}
{{ partial "speaker" (dict "name" "Richard Dawkins" "title" "EVOLUTIONARY BIOLOGIST AND AUTHOR" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}
{{ partial "speaker" (dict "name" "Bonya Ahmed" "title" "SCHOLAR AND RESEARCHER" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}
{{ partial "speaker" (dict "name" "Maryam Namazie" "title" "CO-FOUNDER OF THE COUNCIL OF EX-MUSLIMS OF BRITAIN" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}
{{ partial "speaker" (dict "name" "Richard Dawkins" "title" "EVOLUTIONARY BIOLOGIST AND AUTHOR" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}
{{ partial "speaker" (dict "name" "Sami ABdallah" "title" "Dude" "bio" "Lorem ipsum ndolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.") }}

</div>
    <footer>{{ partial "footer.html" . }}</footer>


<script>
function popup ( target) {	document.querySelectorAll('.popup').forEach(function(e){e.style.display='none';});target.nextElementSibling.style.display='block'; }
function hideparent( target) { target.parentElement.parentElement.style.display='none'; }
</script>
</body>

</html>